@import "tailwindcss";

@theme inline {
  --color-background: #f0f0f1;

  --color-sidebar: #1d2327;
  --color-sidebar-foreground: #c3c4c7;
  --color-sidebar-primary: #137cbd;
  --color-sidebar-primary-foreground: #ffffff;
  --color-sidebar-accent: #bccad5;
  --color-sidebar-muted: #2c3338;
}
